### ESSA Data for State of Maine
Downloaded from here:  https://www.maine.gov/doe/dashboard

In [14]:
import pandas as pd

# Load the datasets
df_science = pd.read_csv('science.csv')
df_english = pd.read_csv('english.csv')
df_ela = pd.read_csv('english_language_arts.csv')
df_math = pd.read_csv('math.csv')


# Define the columns to merge on. Note that 'school' and 'year' were used instead of the user's 'schools' and 'years' to match the file headers, and 'students' was added to ensure the correct student subgroup is merged.
merge_cols = ['district', 'school', 'students', 'grades', 'year']
merged_df = pd.merge(df_science, df_english, on=merge_cols, how='inner')
merged_df = pd.merge(merged_df, df_ela, on=merge_cols, how='inner')
df = pd.merge(merged_df, df_math, on=merge_cols, how='inner')


def clean_count_column(series):
    # Convert to string to handle mixed types (like float -1.0 and string '1,000')
    series = series.astype(str)
    # Replace suppressed data placeholders ('-1', '-1.0') with NaN
    series = series.str.replace(r'^-1$', 'NaN', regex=True)
    series = series.str.replace(r'^-1\.0$', 'NaN', regex=True)
    # Remove commas
    series = series.str.replace(',', '', regex=False)
    # Convert to numeric, coercing any remaining non-numeric to NaN
    return pd.to_numeric(series, errors='coerce')

def clean_pct_column(series):
    # Convert to string
    series = series.astype(str)
    # Replace suppressed data placeholders ('-1.0%') with NaN
    series = series.str.replace(r'^-1\.0%', 'NaN', regex=True)
    # Remove the '%' sign
    series = series.str.replace('%', '', regex=False)
    # Convert to numeric (float), which represents the percentage value (e.g., 90.0)
    return pd.to_numeric(series, errors='coerce')

# --- Identify and Clean Columns ---

# All count columns related to testing (including those already float64, for consistency)
count_cols = [col for col in df.columns if col.startswith('students_')]

# All percentage columns related to testing
pct_cols = [col for col in df.columns if col.startswith('pct_')]

# Apply cleaning functions
df[count_cols] = df[count_cols].apply(clean_count_column)
df[pct_cols] = df[pct_cols].apply(clean_pct_column)

# Save the cleaned data to a new CSV
df.to_csv('2025_maine_essa.csv', index=False)

## Post Secondary School Data

In [20]:
df = pd.read_csv("post_secondary_enrollment.csv")
# --- Apply Cleaning ---
df['students_post_secondary'] = clean_count_column(df['students_post_secondary'])
df['pct_students_post_secondary'] = clean_pct_column(df['pct_students_post_secondary'])


# Save the cleaned data to a new CSV
df.to_csv('post_secondary_enrollment.csv', index=False)
df

,district,district_id,school,school_id,category,population,year,students_post_secondary,pct_students_post_secondary
0,Arthur R. Gould Sch--LCYDC,1069,All Schools,,All Students,All Students,2024-2025,NaN,NaN
1,Arthur R. Gould Sch--LCYDC,1069,All Schools,,All Students,All Students,2022-2023,NaN,NaN
2,Arthur R. Gould Sch--LCYDC,1069,All Schools,,All Students,All Students,2021-2022,NaN,NaN
3,Arthur R. Gould Sch--LCYDC,1069,All Schools,,All Students,All Students,2019-2020,NaN,NaN
4,Arthur R. Gould Sch--LCYDC,1069,All Schools,,All Students,All Students,2018-2019,NaN,NaN
...,...,...,...,...,...,...,...,...,...
14347,York Public Schools,542,York High School,545,Other,Students with Disabilities,2022-2023,10.0,47.62
14348,York Public Schools,542,York High School,545,Other,Students with Disabilities,2021-2022,NaN,NaN
14349,York Public Schools,542,York High School,545,Other,Students with Disabilities,2020-2021,9.0,64.29
14350,York Public Schools,542,York High School,545,Other,Students with Disabilities,2019-2020,6.0,27.27
14351,York Public Schools,542,York High School,545,Other,Students with Disabilities,2018-2019,NaN,NaN

#### About ESSA